/*  your css code here. If applicable */
p{
	display:inline;
}
.example::before{
	content: "Before Element ";
	color:rgb(255,0,0);	
}
.example ::after{
	content: " After Element";
	color:rgb(255,0,0);	
}